*.elc
*.el~
.emacs.bmk
.mc-lists.el
.smex-items
ac-comphist.dat
auto-save-list
autosave/*
backup/*
image-dired
elpa/*
eshell/history
eshell/lastdir
misc/.mc-lists.el
misc/bookmarks
misc/ido.last
savefile/*
server
todo.org
tramp
url
recentf
recentf~
